.blockquotes-section {
  background-image: url("../img/bg-pattern-home-4-about-3.svg"),
    url("../img/bg-pattern-home-5.svg");
  background-repeat: no-repeat;
  background-size: 147px 100px,
    200px 100px;
  background-position: left top,
    right bottom;
  background-color: $jungle-green;

  .container {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}

.blockquotes-section__heading {
  max-width: 932px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;

  span {
    color: $rapture-blue;
  }
}

.blockquotes-section__list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 92px;
  padding: 0;
  list-style-type: none;
}

.blockquotes-section__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    position: absolute;
    z-index: 0;
    bottom: 93%;
    left: 50%;
    transform: translateX(-50%);
    flex-shrink: 0;
    content: "";
    width: 67px;
    height: 56px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &::after {
    flex-shrink: 0;
    display: block;
    content: "";
    margin-top: 35px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 2px solid #C4FFFE;
    ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &:nth-child(1)::after {
    background-image: url("../img/avatar-kady.jpg");
  }

  &:nth-child(2)::after {
    background-image: url("../img/avatar-aiysha.jpg");
  }

  &:nth-child(3)::after {
    background-image: url("../img/avatar-arthur.jpg");
  }

}

.blockquote__content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  width: 370px;
}

.blockquote__text {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.blockquote__subtext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockquote__author {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: $rapture-blue;
  margin-top: 24px;
}

.author__status {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}