.site-header {
  background-color: $midnight-green;
}

.site-header__container {
  display: flex;
  padding-top: 73px;
  padding-bottom: 73px;
  align-items: center;
}

.site-header__logo{
  flex-shrink: 0;
}

.site-header__navbar {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.site-header__navbar-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: auto;
}

.site-header__navbar-link {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  transition: color 0.3s ease;

  &:hover {
    color: $light-coral;
  }
}